@function hex-to-rgb($color) {
    // Check if the input is a valid color
    @if type-of($color) == 'color' {
      $red: red($color);
      $green: green($color);
      $blue: blue($color);
      @return #{$red}, #{$green}, #{$blue};
    } @else {
      @warn "The value `#{$color}` is not a valid color.";
      @return null;
    }
  }