// Optionally load bootstrap components. Please comment these lines below if not needed.
// @import "../../../node_modules/bootstrap/scss/breadcrumb";

.breadcrumbs{
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg){
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    i{
        margin-left: 8px;
        margin-right: 8px;

        @include media-breakpoint-down(lg){
            margin-left: 1px;
            margin-right: 1px;
            vertical-align: sub;
        }
    }

    &-wrap{
        background-color: var(--tj-color--bg-post);
        padding: 12px 20px;
        display: flex;
        align-items: center;
    }

    [property=item]{
        color: var(--tj-color--main);
        font-weight: 400;
        font-size: 1rem;

        @include media-breakpoint-down(lg){
            font-size: 12px;
        }
        
        &:hover{
            color: var(--tj-color--hover);
        }
    }

    span.current-item{
        color: var(--tj-color--fg);
        font-weight: 500;

        @include media-breakpoint-down(lg){
            font-size: 12px;
        }
    }
}

.caret-right{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4137 10.6632L8.16374 16.9132C7.98761 17.0894 7.74874 17.1883 7.49967 17.1883C7.2506 17.1883 7.01173 17.0894 6.83561 16.9132C6.65949 16.7371 6.56055 16.4983 6.56055 16.2492C6.56055 16.0001 6.65949 15.7612 6.83561 15.5851L12.4223 9.99997L6.83717 4.41325C6.74997 4.32604 6.68079 4.22251 6.6336 4.10857C6.5864 3.99463 6.56211 3.87251 6.56211 3.74918C6.56211 3.62586 6.5864 3.50374 6.6336 3.3898C6.68079 3.27586 6.74997 3.17233 6.83717 3.08512C6.92438 2.99792 7.02791 2.92874 7.14185 2.88155C7.25579 2.83435 7.37791 2.81006 7.50124 2.81006C7.62456 2.81006 7.74668 2.83435 7.86062 2.88155C7.97456 2.92874 8.07809 2.99792 8.1653 3.08512L14.4153 9.33512C14.5026 9.42232 14.5718 9.5259 14.619 9.63991C14.6662 9.75392 14.6904 9.87612 14.6903 9.99951C14.6901 10.1229 14.6656 10.245 14.6182 10.3589C14.5707 10.4728 14.5012 10.5763 14.4137 10.6632Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}