// Optionally load bootstrap components. Please comment these lines below if not needed.
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/dropdown";


header.site-header {
	--nav-link-color: var(--wp--preset--color--foreground);
	--nav-link-hover-color: var(--wp--preset--color--secondary);
	--nav-link-decoration: none;
	--tj-link-decoration: var(--nav-link-decoration);
	--nav-search-width: 0;
	--nav-link-font-size: var(--wp--preset--font-size--base);
	--nav-link-font-weight: 400;
	--nav-link-padding-y: 1.25rem;
	--nav-link-padding-y-md: 8px;
	--nav-link-padding-x-md: 0;
	--navbar-padding-y: 0;
	--navbar-brand-padding-y: 0;
	--icon: var(--wp--preset--color--foreground);
	--icon-hover: var(--wp--preset--color--secondary);
	--header-background: var(--tj-color--bg-header);
	// grid-row: unset;
	transition: all .2s ease;
	position: relative;

	// background-color: var(--wp--preset--color--white);
	grid-row: unset;
	z-index: 999;

	&::before{
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: var(--header-background);
		z-index: 0;
		opacity: 1;
		transition: opacity .2s ease;
	}

	@include media-breakpoint-up(lg){
		body:not(.block-editor-page) &:not(.sticky){
			// max-width: 1920px;
			left: 50%;
			transform: translateX(-50%);
			position: relative;
		}
	}

	@include media-breakpoint-down(lg) {
		--nav-search-width: 0;
		--navbar-brand-padding-y: 0.2rem;
	}

	a {

		&,
		&:hover {
			text-decoration: var(--tj-link-decoration) !important;
		}
	}

	.navbar {
		--tj-navbar-brand-margin-end: 1.5rem;
		--tj-navbar-padding-y: var(--navbar-padding-y);
		--tj-navbar-brand-padding-y: var(--navbar-brand-padding-y);
		padding-top: 9px;
    	// padding-bottom: 6px;
		border-bottom: 2px solid var(--tj-color--main);

		.nav-action-sm{
			@include media-breakpoint-up(lg){
				display: none;
			}

			@include media-breakpoint-down(lg){
				display: inline-flex;
				align-items: center;
				margin-left: auto;
			}
		}
		
		.navbar-toggler{
			--tj-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.9375 14C24.9375 14.3481 24.7992 14.6819 24.5531 14.9281C24.3069 15.1742 23.9731 15.3125 23.625 15.3125H4.375C4.0269 15.3125 3.69306 15.1742 3.44692 14.9281C3.20078 14.6819 3.0625 14.3481 3.0625 14C3.0625 13.6519 3.20078 13.3181 3.44692 13.0719C3.69306 12.8258 4.0269 12.6875 4.375 12.6875H23.625C23.9731 12.6875 24.3069 12.8258 24.5531 13.0719C24.7992 13.3181 24.9375 13.6519 24.9375 14ZM4.375 8.3125H23.625C23.9731 8.3125 24.3069 8.17422 24.5531 7.92808C24.7992 7.68194 24.9375 7.3481 24.9375 7C24.9375 6.6519 24.7992 6.31806 24.5531 6.07192C24.3069 5.82578 23.9731 5.6875 23.625 5.6875H4.375C4.0269 5.6875 3.69306 5.82578 3.44692 6.07192C3.20078 6.31806 3.0625 6.6519 3.0625 7C3.0625 7.3481 3.20078 7.68194 3.44692 7.92808C3.69306 8.17422 4.0269 8.3125 4.375 8.3125ZM23.625 19.6875H4.375C4.0269 19.6875 3.69306 19.8258 3.44692 20.0719C3.20078 20.3181 3.0625 20.6519 3.0625 21C3.0625 21.3481 3.20078 21.6819 3.44692 21.9281C3.69306 22.1742 4.0269 22.3125 4.375 22.3125H23.625C23.9731 22.3125 24.3069 22.1742 24.5531 21.9281C24.7992 21.6819 24.9375 21.3481 24.9375 21C24.9375 20.6519 24.7992 20.3181 24.5531 20.0719C24.3069 19.8258 23.9731 19.6875 23.625 19.6875Z' fill='white'/%3E%3C/svg%3E%0A");

			&.collapsed{
				--tj-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5459 17.954C19.7572 18.1653 19.876 18.452 19.876 18.7509C19.876 19.0497 19.7572 19.3364 19.5459 19.5477C19.3346 19.7591 19.0479 19.8778 18.749 19.8778C18.4501 19.8778 18.1635 19.7591 17.9521 19.5477L12 13.5937L6.0459 19.5459C5.83455 19.7572 5.54791 19.8759 5.24902 19.8759C4.95014 19.8759 4.66349 19.7572 4.45215 19.5459C4.2408 19.3345 4.12207 19.0479 4.12207 18.749C4.12207 18.4501 4.2408 18.1635 4.45215 17.9521L10.4062 11.9999L4.45402 6.04586C4.24268 5.83451 4.12395 5.54787 4.12395 5.24898C4.12395 4.9501 4.24268 4.66345 4.45402 4.45211C4.66537 4.24076 4.95201 4.12203 5.2509 4.12203C5.54978 4.12203 5.83643 4.24076 6.04777 4.45211L12 10.4062L17.954 4.45117C18.1654 4.23983 18.452 4.12109 18.7509 4.12109C19.0498 4.12109 19.3364 4.23983 19.5478 4.45117C19.7591 4.66251 19.8778 4.94916 19.8778 5.24804C19.8778 5.54693 19.7591 5.83358 19.5478 6.04492L13.5937 11.9999L19.5459 17.954Z' fill='white'/%3E%3C/svg%3E%0A");
			}

		}

		@include media-breakpoint-down(lg){
			padding-bottom: 0;
			border-bottom: 0;
		}

		> .tj-container {
			display: flex;
			flex-wrap: inherit;
			align-items: center;
			justify-content: space-between;
		}

		.row {
			align-items: center;
		}

		.navbar-brand {
			img {
				width: auto;
				object-fit: contain;
				display: block;
				height: 72px;

				@include media-breakpoint-down(md){
					height: 48px;
				}
			}
		}

		.navbar-collapse {
			position: relative;
			z-index: 9999;

			@include media-breakpoint-up(lg){
				display: flex;
				flex-direction: column-reverse;
				align-items: flex-end;
			}

			@include media-breakpoint-down(lg){
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 20px;

				.navbar-nav{
					width: 100%;
					max-height: calc(100vh - 164px);
					overflow: auto;
					padding-top: 28px;
				}

				.search-form-toggle-navbar{
					margin-top: auto;
					width: 100%;
					border-top: 1px solid rgba(255,255,255,0.2);
					padding-top: 20px;
					margin-bottom: 50px;
				}
			}

			.nav-action{
				align-items: center;
				margin-top: -4px;
				margin-bottom: 8px;

				> *{
					&:not(:first-child){
						margin-left: 12px;
					}
				}
			}
		}

		.navbar-nav {
			margin: 0;
			--tj-nav-link-color: var(--nav-link-color);
			--tj-nav-link-hover-color: var(--nav-link-hover-color);
			--tj-nav-link-font-size: var(--nav-link-font-size);
			--tj-nav-link-font-weight: var(--nav-link-font-weight);
			--tj-nav-link-padding-y: var(--nav-link-padding-y);

			.dropdown-menu{
				--tj-dropdown-font-size: var(--nav-link-font-size);
				font-size: var(--tj-dropdown-font-size);
				padding-left: 10px;
			}

			.menu-item {
				&:hover {
					text-decoration: var(--nav-link-decoration) !important;
				}
				.nav-link {

					@include media-breakpoint-down(lg) {
						--tj-nav-link-padding-y: var(--nav-link-padding-y-md);
						--tj-nav-link-padding-x: var(--nav-link-padding-x-md);
						padding-left: 15px;
					}
				}

				&.dropdown {
					position: relative;

					.expand {
						width: 18px;
						height: 18px;
						position: absolute;
						top: 50%;
						right: 4px;
						z-index: 9;
						display: flex;
						align-items: center;
						justify-content: center;
						transform: translateY(-50%);

						@include media-breakpoint-down(lg){
							width: 18px;
							height: 18px;
						}

						.icon {
							line-height: 1;
							@include iconph(#FFF, #FFF);

							svg {
								width: 100%;
								height: 100%;
								transition: all .2s ease;
							}
						}

						@include media-breakpoint-down(lg) {
							top: 0;
							height: 50px !important;
							transform: unset;

							.icon {
								svg {
									transform: rotate(-90deg);
								}
							}
						}

					}

					.dropdown-toggle {
						padding-right: 25px;

						&:after {
							display: none;
						}
					}

					@include media-breakpoint-down(lg) {
						.dropdown-menu {
							display: none;
							// --tj-dropdown-bg: transparent;
							--tj-dropdown-link-color: var(--tj-nav-link-color);
							--tj-dropdown-border-width: 0;
							--tj-dropdown-padding-y: 0;
						}

						&.show {
							>.dropdown-menu {
								display: block;
							}

							> .expand {
								.icon {
									svg {
										transform: rotate(0deg) !important;
									}
								}
							}
						}
					}

					>.dropdown-menu {
						border-radius: 0 0 var(--tj-dropdown-border-radius) var(--tj-dropdown-border-radius);
						@include media-breakpoint-up(lg){
							border-top: 2px solid var(--tj-color--main);
						}	

						.dropdown {
							.nav-link {
								padding-right: 20px;
							}

							.expand {
								top: 50%;
								transform: translateY(-50%);
								height: 100%;
								width: 20px;

								@include media-breakpoint-down(md) {
									width: 16px;
									top: 0;
									transform: unset;
								}

								.icon {
									@include iconph(var(--tj-dropdown-link-color), var(--tj-dropdown-link-color));

									svg {
										transform: rotate(-90deg);
									}
								}
							}

							@include media-breakpoint-up(lg) {
								.dropdown-menu {
									opacity: 0;
									border-radius: 0 var(--tj-dropdown-border-radius) var(--tj-dropdown-border-radius) var(--tj-dropdown-border-radius);
									transform-origin: left;
									transform: scale(0, 1);
									top: 0;
									left: 100%;

								}

								&:hover {
									>.dropdown-menu {
										opacity: 1;
										transform: scale(1, 1);
									}
								}
							}

						}
					}
				}
			}

			&.main-menu{
				--tj-nav-link-padding-y: 0;
				--tj-nav-link-padding-x: 14px;
				--tj-navbar-nav-link-padding-x: calc(30px/2);
				.menu-item{
					text-transform: uppercase;

					&.current-menu-item{
						> .nav-link{
							&::after{
								background-color: var(--tj-color--main);
							}
						}
					}

					&:hover{
						.nav-link, .dropdown-item{
							// color: var(--tj-color--main);

							&::after{
								background-color: var(--tj-color--main);
							}
						}
					}
				}

				> .menu-item{
					&:first-child{
						> .nav-link{
							@include media-breakpoint-up(lg){
								padding-left: 0;

								&::after{
									width: calc(100% - 14px);
									left: 0;
									transform: translateX(0);
								}
							}


						}
					}
					&:last-child{
						> .nav-link{
							@include media-breakpoint-up(lg){
								padding-right: 0;
	
								&::after{
									width: calc(100% - 14px);
									left: 16px;
									transform: translateX(0);
								}
							}
						}
					}
					> .nav-link{
						position: relative;
						letter-spacing: .07px;

						@include media-breakpoint-up(lg){
							// margin-bottom: -6px;
							padding-bottom: 9px;
						}

						> span{
							margin-bottom: 6px;
							display: inline-block;

							@include media-breakpoint-down(lg){
								margin-bottom: 0;
							}
						}
						
						&::after{
							content: '';
							width: calc(100% - 28px);
							height: 3px;
							background-color: transparent;
							position: absolute;
							left: 50%;
							bottom: 7px;
							transform: translateX(-50%);
							display: block !important;
							border: 0;
							margin-left: 0;
							vertical-align: unset;

							@include media-breakpoint-down(lg){
								width: 3px;
								height: calc(100% - 15px);
								bottom: unset;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
							}
						}
					}

					&.dropdown{
						.expand{
							margin-top: -5px;
						}

						.dropdown-menu{
							background-color: var(--tj-color--bg-header);

							.dropdown-item{
								color: var(--nav-link-color);

								&:hover{
									background-color: transparent;
									color: var(--tj-color--main);
								}
								
							}
						}

						&:hover{
							@include media-breakpoint-up(md){
								> .dropdown-menu{
									transform: scale(1);
								}
							}
						}

						// .nav-link{
						// 	&::after {
						// 		content: '';
						// 		width: calc(100% - 28px);
						// 		height: 3px;
						// 		background-color: transparent;
						// 		position: absolute;
						// 		left: 50%;
						// 		bottom: 0;
						// 		transform: translateX(-50%);
						// 	}
						// }
					}
				}

				// &:hover{
				// 	& > .menu-item{
				// 		> .nav-link{
				// 			&::after{
				// 				background-color: transparent;
				// 			}
				// 		}

				// 	} 
				// }
			}
		}

		.navbar-search {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: var(--nav-search-width);
			height: 39px;
			width: 0%;
			z-index: 9;
			max-width: calc(100% - var(--nav-search-width));
			background-color: #FFF;
			overflow: hidden;
			transition: all .2s ease;
			opacity: 0;

			.input-group {
				display: flex;
				.form-control {
					padding: .25rem 1rem;
					width: 100%;
					height: 100%;
					border-radius: 6px;
				}
				[type="submit"] {
					background: transparent;
					border: 0;
					padding: .25rem;
					width: 32px;
				}
			}

			@include media-breakpoint-down(lg) {
				top: 0;
				transform: unset;
				position: relative;
				width: auto;
				opacity: 1;
				height: auto;
				margin-left: -15px;
				margin-right: -15px;
				border-radius: 0;
				padding-left: var(--wp--style--root--padding-left);
				padding-right: var(--wp--style--root--padding-right);
			}

			&.show {
				width: 100%;
				opacity: 1;
				z-index: 999;
				[type="submit"] {
					display: none;
				}
			}
		}

		.toggle-search,
		.navbar-toggler {
			outline: 0;
			box-shadow: none;
			border: 0;
			background-color: transparent;
			padding: 0;
			width: 38px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			@include media-breakpoint-down(lg){
				width: 24px;
				height: 24px
			}

			.icon {
				@include iconph(#FFF, #FFF);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 25px;
				height: 25px;

				svg {
					width: 100%;
					height: 100%;
				}

				&-open {
					opacity: 1;
				}

				&-close {
					opacity: 0;
				}
			}

			&.collapsed {
				.icon {
					&-open {
						opacity: 0
					}

					&-close {
						opacity: 1;
					}
				}
			}

		}

		.navbar-toggler {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		.navbar-collapse {
			@include media-breakpoint-down(lg) {
				position: absolute;
				top: calc(100% - 1px);
				background-color: var(--tj-color--bg-header);
				right: -100%;
				width: 100%;
				height: calc(100vh - 58px);
				padding-left: 15px;
				padding-right: 15px;
				transition: all .3s ease;
				overflow: auto;

				&.show {
					right: 0%;
				}
			}
		}

		.toggle-search,
		.button-action {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}

	body.navbar-collapsed &{
		&::before{
			opacity: 1;
			background-color: var(--header-background);
		}
	}

	&.sticky{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99999;

		&::before{
			opacity: 1;
		}


		body.admin-bar:not(.site-editor-php) &{
			top: 32px;

			@media (max-width: 781px){
				top: 46px;

			}
			@media (max-width: 600px){
				&.scrolled{
					top: 0;
				}
			}
		}

		&.scrolled{


			&::before{
				opacity: 1;
				background-color: var(--header-background);
			}
		}
	}

	.navbar-nav{
		.language-wrap{
			position: relative;

			&:hover{
				.nav-link{
					// background-color: var(--tj-color--main);
					background-color: var(--tj-color--bg-header);
				}

				@include media-breakpoint-down(lg){
					.dropdown-menu{
						display: block !important;
						position: absolute;
						top: 100%;
						right: 0;
					}
				}
			}

			&.dropdown{
				> .expand{
					right: 8px !important;
					
					@include media-breakpoint-down(lg){
						display: none !important;
					}
				}
			}
			
			.dropdown-menu{
				--tj-dropdown-bg: var(--tj-color--bg-header);
				--tj-dropdown-link-hover-bg: var(--tj-color--main);
				--tj-dropdown-link-active-bg: transparent;
				--tj-dropdown-item-padding-x: .8rem;
				--tj-dropdown-min-width: 100%;
				padding-left: 0;
				padding-right: 0;
				z-index: 99999;
				@include media-breakpoint-down(lg){
					background-color: var(--tj-dropdown-bg);
					border-radius: 0 0 var(--tj-dropdown-border-radius) var(--tj-dropdown-border-radius) !important;
					transform: translateY(15px) !important;
				}

				.dropdown-item{
					--tj-dropdown-link-color: var(--tj-color--fg);
					--tj-dropdown-link-hover-color: rgba(var(--tj-color--fg-rgb), .8);
					--tj-dropdown-link-active-color: rgba(var(--tj-color--fg-rgb), .8);
				}
			}
			img{
				width: 20px !important;
				height: 20px !important;
				object-fit: cover;
			}
			.nav-link{
				padding: 5px 12px;
				border: 1px solid var(--tj-color--main);
				border-radius: 8px;
			}

			.nav-link, .dropdown-item{
				font-size: 12px;
			}

			.dropdown-toggle{
				@include media-breakpoint-down(lg){
					background-color: transparent !important;
					padding: 0;
					border: 0;
					border-right: 1px solid #FFF !important;
					padding-right: 10px !important;
					margin-right: 10px !important;
					border-radius: 0 !important;

					> span{
						display: none;
					}
				}
			}
		}

	}

	.search-form-wrapper{
		width: auto;
		height: 32px;
		
		@include media-breakpoint-up(lg){
			&:not(.active){
				width: 44px;
			}
			&.active{
				width: 401px;
			}
		}
		.form-search{
			padding: 3px 12px;

			.form-control{
				font-size: 12px;
			}

			.button-wrap{
				[class*=btn]{
					.icon{
						svg{
							width: 20px;
							height: 20px;
						}

					} 

				} 

			} 

		}
	} 
}

.navbar{
	> .tj-container{
		position: relative;
	}

	@include media-breakpoint-up(lg){
		.navbar-collapse{
			position: unset !important;
		}
	}

	@include media-breakpoint-down(lg){
		.search-form-wrapper{
			height: auto !important;

			.form-search{
				padding: 8px 12px !important;
			}
		}
	}
	
	.main-menu{
		@include media-breakpoint-up(lg){
			position: unset !important;
		}
		.menu-item{
			&.has-menu-modal{
				position: relative;

				.btn-modal{
					position: absolute;
					background-color: transparent;
					border: 0;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 9;
				}
			}
			&.has-mega-menu{
				@include media-breakpoint-up(lg){
					position: unset !important;
				}
	
				.dropdown-menu{
					padding: 16px;

					@include media-breakpoint-up(lg){
						background-color: var(--tj-color--bg-post) !important;
		
						.dropdown-item{
							padding: 16px;
							background-color: #212121 !important;
							border-radius: 6px;
						}
					}

					@include media-breakpoint-down(lg){
						.dropdown-item{
							padding: 0;
						}
					}
				}
		
				> .nav-link{
					padding-right: var(--tj-navbar-nav-link-padding-x) !important;
				}
		
				.expand{
					@include media-breakpoint-up(lg){
						display: none !important;
					}
				}
		
				@include media-breakpoint-up(lg){
					.dropdown-menu{
						left: 0;
						width: 100%;
						position: absolute !important;
						// transform: translateY(8px);
					}
				}
	
				.row-products{
					--tj-gutter-x: 28px;
					--tj-gutter-y: 0;
					
					@include media-breakpoint-down(lg){
						--tj-gutter-y: 10px;
					}
	
					.product-cat-item{
						position: relative;
						.thumb-item{
							max-width: 100%;
							width: 100%;
							height: 196px;
							border-radius: 12px;
							object-fit: cover;
						}
	
						.inner{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding: 20px;
							display: flex;
							align-items: flex-end;
							justify-content: flex-start;
							font-size: 20px;
							font-weight: 700;
							text-align: left;
							color: #FFF;
							background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);

							.title-item{
								text-transform: none;
							}
						}

						@include media-breakpoint-down(lg){
							> a{
								display: flex;
								flex-direction: row;
								align-items: center;

								.thumb-item{
									width: 50px;
									height: 50px;
									border-radius: 6px;
									margin-right: 12px;
									// flex: 0 1 auto;
								}

								.inner{
									// flex: 1 1 auto;
									position: relative;
									width: calc(100% - 62px);
									height: auto;
									padding: 0;
									font-size: 14px;
									font-weight: 400;
									background: unset;

									.title-item{
										white-space: normal;
										text-transform: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}